<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Home Page</title>
</head>
<body>
    <p>
        Your name was included in this request: <%= has_format %> 
    </p>
    <form action="form_handler" method = 'post'>
        <label for="name">NAME, POST REQUEST</label>
        <input type="text" autocomplete="off" name="name" id="name" placeholder="Enter your name here"> <br>
        <input type="submit"> 
    </form>

</body>
</html>