<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Challenge</title>
    <link rel="stylesheet" href="/style2.css"> 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="library-background">
        <h1>Welcome To The Library of Babel</h1>
        <p>You can find anything if you know where you're looking...</p>
        <div class="hexagon-container">
        Hexagon: 09e0vmvvwm2q8d5bh2o2tab7ukwijxc74wy4zjennwd9k5b7w4g4hsy4jtl3nx39kavmiiq1i0r5vjkrfoq6hmi9gvfe4bfpc1fyfnocxrcknznl7vu18lbum7hnu03gsnopd8ncgwacayqm8vdkhka0ntn24x7aocu9bqgfohnl9hh5ebiuc3v9vyxdmeuldre73mcvys4cd4ijr1qeb7ec5z96bkgnb1wdcwyk8txfcnyz7t83dggzg4sg30hvs7tqbjp4df6ihpahzks0i6ygd2w6pjnvwo7gmpigit0jm7apq726itdinetwp3zk5e4v3e3x1wne0l4bpcq0x09n7u071brwyppjjij2fdwzh73gf298iy8gw7suwiolpfqvbwfj2e2fhd7azj0il8t2f9l4m8gzvrvkll0czlso8z81ts9m0mll72x103qrn8xqrg62doyhkey3qqaul7xf55bj5ih65nmfn9xku715giq5o9xx65d9imr2ulea3tbcmz6gt6318xjiiqg88oh1doiqit8nv9koer0nczod8e90zx8no0favku2zzqv0au9urjkku52k3uk9j4c1qxl8guf4pyh2m56y9px00cpf71ylk68gu3sgu726ms4nfsez6oon1jimc8kzihyqmwlkwjkpneylo4slpbht124jji3sjg29cbjj4ay5e66k8scnmccp8mx8h7hbj92i5uk2n1amjpkxx9bwgcfx5nfn39iqcb1m6u6dc7tsrki82w68e7v3n0ofctty1btpjkguyze7tb5s9g4z661aqhmkh4490zpg31qq72kxqttcrbxne83rp1w29xuptn8bkwu6o66r3eez14c6ltu378zf9cupyf42pn8024nczghw9gvxgvbhs4isfx0cnknthb4ax3meanco4humlz9w1cywhx61nrjnmkjkz5jxtijklqoq21p15qozmsgut5n0sckz4yjscjwdftf1wm2603ijs5kw2mcznipp47k24mdfjh2da7gys11rqy6lsl0cdqrr1g1t050mh2rnu3dyxiv4miz0p74y7h4s21t7jbjpl6e1cig1oc6fw4e9mfxpsflt8cz80206od7kfzjz1529i217zt598rrm69h9bhwumsdnl765vyopbjgjpvwcrawc5m5c0zyf24nr547sokh2hagwf05bub4re2ax3nyskoz0z9lsa0sfzktowax1d83dz1r87iv9d6e8jf71963ce1pic260czgkz0bs28dxghcx5jqcszrs1fg792xugk8pl5huh5uxx2dfd0h3sh29ynvpzo87ywnrj9fjo9p31leme8nh5a6tlb09akc1kmqayxv0xt5q1b3r0gns28ulwrkx0togkxabt7cnn6rp8523i04b9o37twix11tre66atac3pkqudlaw8a3c9v1lg4xg16s1ymkk93jqjdinilr7xvvmqgczj522nwf774qesfcctznglnt4mp0cik6qtmakuunr2q6gcaeym13gsr3xsr5xasqhycf37pisrebp4dbmj9hgiqy2kcebqdk0k94a55gu39vh5culdi0sag733061btjq1rfuo7aiyj6z805n5lndklo3l4nq10kxgwpgkc34jj7wo1drm64vzoqyh5nvcrafnuq1ikgf2fl8s3cin4glc3m162ok84w4z2vf7hskss5kr0qym0ni3ne3wx8ript0up3425c3oxpdq5hgfxla69rqd8btbiqb7mf4pfl46haue02sj4p46w4hjrqdq7m2zzh90pr5qyuzig3k90fq21d6g75vanhhhx1xqx2st8wi3jngow9l38u78amkpxl5bjb47vhlj67y2fl28m6fn1c7h3eevkre6w7guvfdx1vet4cfqr5hf4va8xqd1gy5t7iewcur7kosd627z4r8z8tg60gqxyep40xy6ri52qwgmo3s8n3qdqosywltfz5r4k1t7nqk9y2c8lbza447k0o2478xtiiz9kokofkdpkziq55xwikzk5rgs7k54e830lq1zrqx6r76sddx1cf7vbjpki20ygjy574k4gnqo6n1tyix1w194y4emuv66h2t9gi1clj2edamtws64i9jvvp3jywtolevbf2jlyfgya2bhp10pkji4wb7jdpgcgebwn4eblxwxe7xlprxqic9b6itg8lybuaj4waq3cgpq97xdwl69a2aetitv2ku6ost8mlzhtohh8upu7va2iffpnqiecr1wpg7dtstpb0fbo6iihvuf1lyw039s97jg7j6gbkahimhseb839jfem2zick531fvofop614un4ljhn33nuhl9bglq8gxvfc0678z0gtkspxg1ww2elcblyi7zrcsqgq4oq0nmihotmavstoa8on9xuop1pvxpsytnab898rwvmkw75arqlqqvaluhgabsi0ulmyaulsjg0u801rjgbbypakl0ynrpyw923v03amgtmsl14hfhi00b9kmqubqs8yxewls0mu6n90pp62diohdo66rkpwf92j4aovx1vvyv9vsyzsq0g5w0j133jq4tsvhxvc74qtydsyru0gqwbllnxmvz1wkd8fony3uy6zlxfo4xpfb86uv7m0p5o31dc8vnm48k2jpklvdg6ljnge8qq6czhpvy6iel4uo8inivm82plzer0saarqph42jvy3okd3wxmswwluut1pkvqgexpg1jyz75vnx5xsd1ma1c2q1vp3erjj7bn3ipzppa3ceecb5th7ulbqr6hy7miko72mv1vhhcjdprgejq1ubpnrusvxw9132n7gqaiakse23pron86dcy2suaqw7jtz18t0cm5cvfzgzlsavc8nfq4q4hu3x5ztyqrfpt73qrsxsrqufbvq1dal2u2qx0e0ir5kok87fyd9uoxqwxxv4lvcqslxu2h492czh6gq9oocb3t7wn89c4bj6h42ywcqepeyc5xfkjuoz3quyma9v697ehlpovyydb1drq6a63a2etbj3uzdihwgarrvc3zrhraf69m9l7gjgc0ybtf28jhnehz7ill7kc2elmhn7lt1f3o7ciq5j3kln4a2we1jbvq02ofy9gc0da9ta2ap7ajp2p9ql237wkzexvwfaaowwme6cjblpbheyefdppaykwuu04lccygcgslvirtomlpor88w5fco1kl1a6m8eawlyv055pwkod246o
        </div>
        Wall: 1
        Shelf: 4
        Volume: 22
        Page: 386
        <br>
        <form id="flagForm">
            <input type="text" name="flag" placeholder="Enter Flag">
            <button type="submit">Submit Flag</button>
        </form>
    </div>
    <div class="message-box" id="messageBox"></div>
<script>
    document.getElementById('flagForm').addEventListener('submit', function (e) {
        e.preventDefault();

        const formData = new FormData(this);
        const flag = formData.get('flag');

        axios.post('/submit-flag', {
            flag: flag
        })
        .then(function (response) {
            showMessage(response.data);
        })
        .catch(function (error) {
            console.error('Error:', error);
        });
    });

    function showMessage(result) {
        messageBox.textContent = result.message;
        messageBox.style.display = 'block';

        if (result.correct) {
            messageBox.className = 'message-box success';
            // Wait for 3 seconds before redirecting
            setTimeout(function() {
                window.location.href = '/infinitelinks';
            }, 3000);
        }
        else {
            messageBox.className = 'message-box failure';
        }
    }
</script>
</body>
</html>