<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>wodle</title>
    <link type="text/css" href="style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <h2>Brian Ho, Kosek Pd 1 </h2>
  <p>Click the boxes to start typing. Remember to use '.' key when using a space, since this "word matcher" uses server-side regex.</p>
  <a href="https://www.codingnepalweb.com/word-guessing-game-html-css-javascript/" target="_blank">Source for CSS and some functionalities</a>
  <br><br>
  <body>
    <div class="wrapper">
      <h1>Type a word (use . for empty)</h1>
      <div class="content">
        <input type="text" class ="typingInput">
        <div class="inputs">
        </div>
        <br><br>
        <button class="submit-btn">Submit</button>
        <br><br>
        <button class="reset-btn">Reset</button>
      </div>
    </div>
    <div class="results-container"></div>

    <script src="script.js"></script>

  </body>
</html>