<!DOCTYPE html>
<html>
<head>
  <title>hi</title>
</head>
<body>
  Today's high at TJHSST is {{temperature}} degrees fahrenheit
  <br>
  Today's high at Rice University is {{temperature2}} degrees fahrenheit
  <br>
  <form action="form_handler" method = 'POST'>
    <label for="long">Longitude</label>
    <input type="text" autocomplete="off" name="long" id="long" placeholder="Enter the longitude here"> <br>
    <label for="long">Latitude</label>
    <input type="text" autocomplete="off" name="lat" id="lat" placeholder="Enter the latitude here"> <br>
    <input type="submit"> 
</form>
</body>
</html>