<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div text-align='left' class='header'>
        <p><img src='/static/images/cool.jpg' alt='lol' width='281' height='70'><br>
        </div><h2 class='playtitle'>The Tragedy of Romeo and Juliet</h2>
            <hr size='2' width='100%' color='#BF3000' noshade>
            <div text-align='left'>
            <table width='700' cellspacing='30'>
                <tr>
                    <td></li></ul><p class='stagedir'><a name='270'></a>[Enter CAPULET, PARIS, and Servant]
        </li></ul>
        
        <ul><li class='playtext'><strong>Capulet. </strong><a name='271'></a>But Montague is bound as well as I,
        <br>In penalty alike; and 'tis not hard, I think,
        <br>For men so old as we to keep the peace.
        </li></ul>
        
        <ul><li class='playtext'><strong>Paris. </strong><a name='274'></a>Of honourable reckoning are you both;
        <br>And pity 'tis you lived at odds so long.
         <span class='playlinenum'>275</span><br>But now, my lord, what say you to my suit?
        </li></ul>
        
        <ul><li class='playtext'><strong>Capulet. </strong><a name='277'></a>But saying o'er what I have said before:
        <br>My child is yet a stranger in the world;
        <br>She hath not seen the change of fourteen years,
        <br>Let two more summers wither in their pride,
         <span class='playlinenum'>280</span><br>Ere we may think her ripe to be a bride.
        </li></ul>
        
        <ul><li class='playtext'><strong>Paris. </strong><a name='282'></a>Younger than she are happy mothers made.
        </li></ul>
        
        <ul><li class='playtext'><strong>Capulet. </strong><a name='283'></a>And too soon marr'd are those so early made.
        <br>The earth hath swallow'd all my hopes but she,
        <br>She is the hopeful lady of my earth:
         <span class='playlinenum'>285</span><br>But woo her, gentle Paris, get her heart,
        <br>My will to her consent is but a part;
        <br>An she agree, within her scope of choice
        <br>Lies my consent and fair according voice.
        <br>This night I hold an old accustom'd feast,
         <span class='playlinenum'>290</span><br>Whereto I have invited many a guest,
        <br>Such as I love; and you, among the store,
        <br>One more, most welcome, makes my number more.
        <br>At my poor house look to behold this night
        <br>Earth-treading stars that make dark heaven light:
         <span class='playlinenum'>295</span><br>Such comfort as do lusty young men feel
        <br>When well-apparell'd April on the heel
        <br>Of limping winter treads, even such delight
        <br>Among fresh female buds shall you this night
        <br>Inherit at my house; hear all, all see,
         <span class='playlinenum'>300</span><br>And like her most whose merit most shall be:
        <br>Which on more view, of many mine being one
        <br>May stand in number, though in reckoning none,
        <br>Come, go with me.
        <br><i>[To Servant, giving a paper]</i>
         <span class='playlinenum'>305</span><br>Go, sirrah, trudge about
        <br>Through fair Verona; find those persons out
        <br>Whose names are written there, and to them say,
        <br>My house and welcome on their pleasure stay.
        </li></ul>
        
        </li></ul><p class='stagedir'><a name='310'></a>[Exeunt CAPULET and PARIS]
        </li></ul>
        
        <ul><li class='playtext'><strong>Servant. </strong><a name='311'></a>Find them out whose names are written here! It is
        <br>written, that the shoemaker should meddle with his
        <br>yard, and the tailor with his last, the fisher with
        <br>his pencil, and the painter with his nets; but I am
        <br>sent to find those persons whose names are here
         <span class='playlinenum'>315</span><br>writ, and can never find what names the writing
        <br>person hath here writ. I must to the learned.&mdash;In good time.
        </li></ul>
        
        </li></ul><p class='stagedir'><a name='318'></a>[Enter BENVOLIO and ROMEO]
        </li></ul>
        
        <ul><li class='playtext'><strong>Benvolio. </strong><a name='319'></a>Tut, man, one fire burns out another's burning,
        <br>One pain is lessen'd by another's anguish;
         <span class='playlinenum'>320</span><br>Turn giddy, and be holp by backward turning;
        <br>One desperate grief cures with another's languish:
        <br>Take thou some new infection to thy eye,
        <br>And the rank poison of the old will die.
        </li></ul>
        
        <ul><li class='playtext'><strong>Romeo. </strong><a name='325'></a>Your plaintain-leaf is excellent for that.
         <span class='playlinenum'>325</span></li></ul>
        
        <ul><li class='playtext'><strong>Benvolio. </strong><a name='326'></a>For what, I pray thee?
        </li></ul>
        
        <ul><li class='playtext'><strong>Romeo. </strong><a name='327'></a>For your broken shin.
        </li></ul>
        
        <ul><li class='playtext'><strong>Benvolio. </strong><a name='328'></a>Why, Romeo, art thou mad?
        </li></ul>
        
        <ul><li class='playtext'><strong>Romeo. </strong><a name='329'></a>Not mad, but bound more than a mad-man is;
        <br>Shut up in prison, kept without my food,
         <span class='playlinenum'>330</span><br>Whipp'd and tormented and&mdash;God-den, good fellow.
        </li></ul>
        
        <ul><li class='playtext'><strong>Servant. </strong><a name='332'></a>God gi' god-den. I pray, sir, can you read?
        </li></ul>
        
        <ul><li class='playtext'><strong>Romeo. </strong><a name='333'></a>Ay, mine own fortune in my misery.
        </li></ul>
        
        <ul><li class='playtext'><strong>Servant. </strong><a name='334'></a>Perhaps you have learned it without book: but, I
        <br>pray, can you read any thing you see?
         <span class='playlinenum'>335</span></li></ul>
        
        <ul><li class='playtext'><strong>Romeo. </strong><a name='336'></a>Ay, if I know the letters and the language.
        </li></ul>
        
        <ul><li class='playtext'><strong>Servant. </strong><a name='337'></a>Ye say honestly: rest you merry!
        </li></ul>
        
        <ul><li class='playtext'><strong>Romeo. </strong><a name='338'></a>Stay, fellow; I can read.
        <br><i>[Reads]</i>
        <br>'Signior Martino and his wife and daughters;
         <span class='playlinenum'>340</span><br>County Anselme and his beauteous sisters; the lady
        <br>widow of Vitravio; Signior Placentio and his lovely
        <br>nieces; Mercutio and his brother Valentine; mine
        <br>uncle Capulet, his wife and daughters; my fair niece
        <br>Rosaline; Livia; Signior Valentio and his cousin
         <span class='playlinenum'>345</span><br>Tybalt, Lucio and the lively Helena.' A fair
        <br>assembly: whither should they come?
        </li></ul>
        
        <ul><li class='playtext'><strong>Servant. </strong><a name='348'></a>Up.
        </li></ul>
        
        <ul><li class='playtext'><strong>Romeo. </strong><a name='349'></a>Whither?
        </li></ul>
        
        <ul><li class='playtext'><strong>Servant. </strong><a name='350'></a>To supper; to our house.
         <span class='playlinenum'>350</span></li></ul>
        
        <ul><li class='playtext'><strong>Romeo. </strong><a name='351'></a>Whose house?
        </li></ul>
        
        <ul><li class='playtext'><strong>Servant. </strong><a name='352'></a>My master's.
        </li></ul>
        
        <ul><li class='playtext'><strong>Romeo. </strong><a name='353'></a>Indeed, I should have ask'd you that before.
        </li></ul>
        
        <ul><li class='playtext'><strong>Servant. </strong><a name='354'></a>Now I'll tell you without asking: my master is the
        <br>great rich Capulet; and if you be not of the house
         <span class='playlinenum'>355</span><br>of Montagues, I pray, come and crush a cup of wine.
        <br>Rest you merry!
        </li></ul>
        
        </li></ul><p class='stagedir'><a name='358'></a>[Exit]
        </li></ul>
        
        <ul><li class='playtext'><strong>Benvolio. </strong><a name='359'></a>At this same ancient feast of Capulet's
        <br>Sups the fair Rosaline whom thou so lovest,
         <span class='playlinenum'>360</span><br>With all the admired beauties of Verona:
        <br>Go thither; and, with unattainted eye,
        <br>Compare her face with some that I shall show,
        <br>And I will make thee think thy swan a crow.
        </li></ul>
        
        <ul><li class='playtext'><strong>Romeo. </strong><a name='365'></a>When the devout religion of mine eye
         <span class='playlinenum'>365</span><br>Maintains such falsehood, then turn tears to fires;
        <br>And these, who often drown'd could never die,
        <br>Transparent heretics, be burnt for liars!
        <br>One fairer than my love! the all-seeing sun
        <br>Ne'er saw her match since first the world begun.
         <span class='playlinenum'>370</span></li></ul>
        
        <ul><li class='playtext'><strong>Benvolio. </strong><a name='371'></a>Tut, you saw her fair, none else being by,
        <br>Herself poised with herself in either eye:
        <br>But in that crystal scales let there be weigh'd
        <br>Your lady's love against some other maid
        <br>That I will show you shining at this feast,
         <span class='playlinenum'>375</span><br>And she shall scant show well that now shows best.
        </li></ul>
        
        <ul><li class='playtext'><strong>Romeo. </strong><a name='377'></a>I'll go along, no such sight to be shown,
        <br>But to rejoice in splendor of mine own.
        </li></ul>
        
        </li></ul><p class='stagedir'><a name='379'></a>[Exeunt]
        </li></ul>
        
        
                    </td>
                </tr>
            </table>
            </div>
           
            </td>
          </tr>
          <tr> 

</body>
</html>