<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form Submit</h1>
    <form action="result" method = 'post' >
        <input type="text" name="one"> <br>
        <input type="text" name="two"> <br>
        <input type="submit">
        <br><br>
    </form>

    <form action="result">

        <h1>How is your day?</h1>
        <label for="a">Good</label>
        <input type="radio" name ="a" value="Good"><br>
        <label for="b">Bad</label>
        <input type= "radio" name="a"  value="Bad"><br>
        <label for="c">Okay</label>
        <input type= "radio" name="a"  value="Okay"><br>
        <label for="d">Terrible</label>
        <input type= "radio" name="a"  value="Terrible"><br>
        <input type="submit">

        <br><br>
        <label for="a1">Tired</label>
        <input type="radio" name="a1" value="Tired"> <br>
        <label for="b">Sad</label>
        <input type="radio" name="b" value="Sad"> <br>
        <label for="c">Mad</label>
        <input type="radio" name="c" value="Mad"> <br>
        <label for="d">Happy</label>
        <input type="radio" name="d" value="Happy"> <br>
        <label for="e">Excited</label>
        <input type="radio" name="e" value="Excited"> <br>
        <input type="submit"> 

        <h1>Multi-Question Quiz</h1>
        <p>What color is the sky</p> 
        <input type="text" name="input1"> <br>
        <p>What planet are we on?</p>
        <label for="a">Earth</label>
        <input type="radio" name ="input2" value="Earth"><br>
        <label for="b">Jupiter</label>
        <input type= "radio" name="input2"  value="Jupiter"><br>
        <label for="c">Mars</label>
        <input type= "radio" name="input2"  value="Mars"><br>
        <label for="d">Venus</label>
        <input type= "radio" name="input2"  value="Venus"><br>
        <input type="submit">

    </form>
</body>
</html>