<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Math Converter</title>
</head>
<body>
    <h1>Math Converter!!!!!!!!!!!!!!!!!!</h1>
    <form action="converter" method = 'GET'>
        <label for="name">number</label>
        <input type="text" autocomplete="off" name="num" id="num" placeholder="Enter your number here"> <br>
        <input type="submit"> 
    </form>

</body>
</html>