<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The Results</h1>
    Your number is <%= number %>

<br><br>
<h1>Some operations...</h1>
<p>Your number is even? <%= question %></p> 
<br>
<h1>Addition</h1>
<p>Your number plus fifty: <%= addition %></p>
<br>
<h1>Subtraction</h1>
<p>Your number minus fifty: <%= subtraction %></p>
</body>
</html>