<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
    <form action="mylabs" method = 'post'>
        <h1>Please input your words...</h1>
        <label for="word_1">ADJECTIVE</label>
        <input type="text" autocomplete="off" name="word_1" id="word_1" placeholder="Enter adjective"> <br>
      
        <label for="word_2">NOUN</label>
        <input type="text" autocomplete="off" name="word_2" id="word_2" placeholder="Enter noun"> <br>
      
        <label for="word_3">VERB (PRESENT TENSE)</label>
        <input type="text" autocomplete="off" name="word_3" id="word_3" placeholder="Enter verb (present tense)"> <br>
    
        <label for="word_4">ADJECTIVE</label>
        <input type="text" autocomplete="off" name="word_4" id="word_4" placeholder="Enter adjective"> <br>
      
        <label for="word_5">ADJECTIVE</label>
        <input type="text" autocomplete="off" name="word_5" id="word_5" placeholder="Enter adjective"><br>
      
        <label for="word_6">PLURAL NOUN</label>
        <input type="text" autocomplete="off" name="word_6" id="word_6" placeholder="Enter plural noun"><br>
      
        <label for="word_7">VERB (PAST TENSE)</label>
        <input type="text" autocomplete="off" name="word_7" id="word_7" placeholder="Enter verb (past tense)"><br>
      
        <label for="word_8">ADJECTIVE</label>
        <input type="text" autocomplete="off" name="word_8" id="word_8" placeholder="Enter adjective"><br>
      
        <label for="word_9">FOOD</label>
        <input type="text" autocomplete="off" name="word_9" id="word_9" placeholder="Enter food"><br>
      <br>
        <label for="word_10">VERB ENDING IN "-ING"</label>
        <input type="text" autocomplete="off" name="word_10" id="word_10" placeholder="Enter verb ending in -ing"><br>
      
        <label for="word_11">EMOTION</label>
        <input type="text" autocomplete="off" name="word_11" id="word_11" placeholder="Enter emotion"><br>
      
        <label for="word_12">VERB (PRESENT TENSE)</label>
        <input type="text" autocomplete="off" name="word_12" id="word_12" placeholder="Enter verb (present tense)"><br>
      
        <label for="word_13">NOUN</label>
        <input type="text" autocomplete="off" name="word_13" id="word_13" placeholder="Enter noun"><br>
      
        <label for="word_14">ADJECTIVE</label>
        <input type="text" autocomplete="off" name="word_14" id="word_14" placeholder="Enter adjective"><br>
      
        <label for="word_15">VERB (PAST TENSE)</label>
        <input type="text" autocomplete="off" name="word_15" id="word_15" placeholder="Enter verb (past tense)"><br>
      
        <label for="word_16">NOUN</label>
        <input type="text" autocomplete="off" name="word_16" id="word_16" placeholder="Enter noun"><br>

        <h1>What image would you like to see? </h1>

        <label for="a">Lasagna</label>
        <input type="radio" name="a" value="Lasagna"> <br>
        <label for="b">Mondays</label>
        <input type="radio" name="b" value="Mondays"> <br>
        <label for="c">Garfield</label>
        <input type="radio" name="c" value="Garfield"> <br>
        <label for="d">NBC Nightly News</label>
        <input type="radio" name="d" value="NBC Nightly News with Lester Holt"> <br>

        <h1>Garfield hates mondays. What days do you dislike?</h1>

        <label for="day_1">Monday</label>
        <input type="checkbox" name="day_1" value="Monday"> <br>
        
        <label for="day_2">Tuesday</label>
        <input type="checkbox" name="day_2" value="Tuesday"> <br>
        
        <label for="day_3">Wednesday</label>
        <input type="checkbox" name="day_3" value="Wednesday"> <br>
        
        <label for="day_4">Thursday</label>
        <input type="checkbox" name="day_4" value="Thursday"> <br>
        
        <label for="day_5">Friday</label>
        <input type="checkbox" name="day_5" value="Friday"> <br>
        

        <input type="submit"> 
    </form>
</body>
</html>



