<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style2.css">
    <script src="../static/script2.js"></script>
</head>
<body>
    <h1>Your Garfield Lasagna Monday Madlib</h1>
    <p>
        Once upon a time, in a {{w1}} land, Garfield and his trusty {{w2}}
        set out to {{w3}} on a(n) {{w4}} adventure. 
        Garfield was feeling {{w5}} about the prospect of finding a treasure trove of {{w6}}!
        
        They {{w7}} to the secret location, and to their amazement, they found a {{w8}}
        chest filled with {{w9}}. Garfield couldn't resist {{w10}} into the delicious treat!
        
        Filled with {{w11}}, Garfield decided to {{w12}} all the way back home with the treasure chest. 
        He proudly displayed it in his {{w13}} and invited all his {{w14}} friends to join the celebration. 
        They {{w15}} and danced around the chest, having a fantastic {{w16}}.       
    </p>

    <img src="../static/{{a}}.png" alt="your image">
    <br>
    <p>
        Garfield hates Mondays. You dislike: {{one}} {{two}} {{three}} {{four}} {{five}}
    </p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>
        &nbsp
    </p>
</body>
</html>